* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", "Krona One", "Montserrat", sans-serif;
}


body {
    background-color: #000;
    height: 100vh;
    margin: 5% 5%;
}

header {
    display: flex;
    justify-content: start;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}