@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --cor-primaria: var(#000);
  --cor-segundaria: var(#fff);
  --cor-terciaria: var(#22D4FD);
}

* {
  margin: 0;
  padding: 0;
}

.cabecalho {
  display: flex;
  text-decoration: none;
  gap: 4.37rem;
  padding: 0.625rem 0.625rem;
}

.cabecalho_link {
  display: flex;
  justify-content: start;
  text-decoration: none;
  padding: 0.1875rem;
  border-radius: 0.5rem;
  margin-bottom: 0.625rem;
}

body {
  height: 100vh;
  box-sizing: border-box;
  width: 100%;
  background-color: hsl(0, 0%, 50%);
  margin: 5%;
}

.titulo_blog {
  color: blue;
  margin-left: 0.3125rem;
  margin-bottom: 0.625rem;
  width: 100%;
  font-family: kronaOne, sans-serif;
  border: 2px solid rgb(10, 10, 10);
  border-radius: 1rem;
  padding: 0.3125rem;
}

h3 {
  color: #0a0a0a;
  margin-left: 0.3125rem;
  margin-right: 0px;
  padding: 3px;
  margin-bottom: 0.625rem;
}

.primeiro_paragrafo {
  color: #000;
  margin-left: 0.3125rem;
  font-size: 0.75rem;
  font-family: montserrat, sans serif;
  margin-bottom: 50px;
}

.texto_destaque {
  color: rgb(#c0c0c0);
  margin-left: 0.3125rem;
  margin-bottom: 220px;
  font-size: 0.75rem;
  font-family: montserrat, sans seif;
}

img {
  margin-left: 15px;
  margin-right: 1.25rem;
}

.apresentacao {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 82px;
}

.apresentacao__conteudo {
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column;
}

.apresentacao_links {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
  font-size: 1.125rem;
  font-family: montserrat, sans seif;
  margin-top: -200px;
  gap: 28px;
  padding: 0.625rem;
}

.apresentacao_links_subtitulo {
  font-family: "krona one", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
}

.apresentacao_links_link {
  align-items: center;
  justify-content: center;
  color: #000;
  background-color: #808080;
  width: 100%;
  border-radius: 10px;
  border: solid 1px #22d4fd;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 0.3125rem;
}

h2 {
  display: flex;
  align-items: center;
  font-size: 1rem;
  color: #000;
}

.apresentacao__imagem {
  width: 50%;
}

.rodape {
 
  justify-content: center;
  color: #000;
  background-color: #22d4fd;
  font-family: montserrat, sans serif;
  font-size: 1.5rem;
  padding: 24px;
  font-weight: 400;
  padding: 15px 0.625rem;
  margin-top: 1.25rem;
  width: 97%;
}

a {
  text-decoration: none;
}
 
@media (max-width: 1200px) {
   .cabecalho {
    padding: 10%;
    justify-content: center;
   }

   .apresentacao {
    flex-direction: column-reverse;
    width:auto ;
  }
  
  .rodape{
    width: auto;
    justify-content: center;
  }
}